@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li:hover{
    border-bottom: 1px solid black;
    font-style: italic;
}
.anim1{
    animation: anim1 2s 1 ease-out ;
}
@keyframes anim1{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
}




.Contact {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 40px;
    background: linear-gradient(lightblue , white , lightblue) ;
    border-radius: 10px;
    box-shadow: 2px 4px 8px black;
    max-width: 1200px;
    margin: 20px auto;
    height: 40vw;
  }
  
  .Numbers {
    flex: 1;
    margin-right: 20px;

  }
  
  .Numbers h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin: 5vw 0vw;
  }
  
  .Numbers h2 {
    font-size: 20px;
    color: black;
    margin: 2vw 0;
  }
  
  .Forms {
    flex: 1;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .Forms h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.4rem;
  }
  
  .Forms p {
    font-size: 16px;
    color: black;
    margin-bottom: 3rem;
  }
  
  .Forms form {
    display: flex;
    flex-direction: column;
  }
  
  .Forms input {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom : 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .Forms button {
    padding: 0.8vw 0vw;
    font-weight:500;
    background-color:lightblue;
    color: #000;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    margin : 2.2vw 0vw;
    transition: background-color 0.3s ease;
    border : 1px solid black;
  }
  
  .Forms button:hover {
    background-color: #000;
    color: white;
  }
  


