@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.logo {
  height: 9%;
  width: 9%;
  margin: -1vw 5vw;
  border-radius: 50%;
  /* border: 1px solid black;  */
  z-index : -1;
}
li:hover{
    border-bottom: 1px solid black;
    font-style: italic;
}
.anim1{
    animation: anim1 2s 1 ease-out ;
}
@keyframes anim1{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
}

/*------------- Header/navbar done --------------- */

.Search{
    display: flex;
    justify-content: center;
    gap:0.3%;
    color: #000;
    margin-bottom: 3vw;
}
.Search input{
    width: 30%;
    padding: 0.5vw 0.5vw;
    border-radius: 15px;
    border: 2px solid black;
    /* background: linear-gradient(rgb(81, 176, 205) , rgb(123, 123, 208)); */
}
.btn1 {
    padding: 0.2vw 0.2vw;
    width: 5%;
    border-radius: 15px;
    border: 2px solid black ;
}
.btn2{
    padding: 0.2vw 0.10vw;
     width:10%;
    border-radius: 15px;
    border: 2px solid black ;
}
/* ---------Search setion done ---------- */

.Shoe-card{
    height: 500px;
    width: 350px;
    border: 2px solid black;
    margin: 2vw 4vw;
    border-radius: 15px;

}


.Shoe-card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 1vw;
}

.Shoe-card button{
    width: 50%;
    margin:0vw  5vw;
    margin-bottom: 30vw;
    padding: 0.3vw 3vw;
    border-radius: 15px;
    border: 1px solid black;
    background-color:black;
    color:white;
}

.shoe-details{
    display: flex;
    justify-content: space-between;
    margin: 2vw 1vw;
}
.shoe-D{
    display: flex;
    flex-wrap: wrap;
}
/* ------------about page --------- */
.nav1{
    height: 8%;
    width:100%;
    background-color: #F4F3F1;
    margin-bottom: 0.6%;
}
.about-section1{
    height : 40vw;
    width : 100%;
    background: linear-gradient( white, white);
    display:flex;
    justify-content : space-around;
    padding-top: 2%;
}
.text-part{
   height: 95%;
   width:43%;
   padding: 2%;
}
.text-part h1{
    font-size : 2.5rem;
    word-space : 1.9rem;
    padding-bottom: 2rem;
}
.text-part button{
    margin-top:7.6rem;
    border:1px solid black;
    padding: 0.4rem 2rem;
    border-radius: 15px;
    background: linear-gradient(#0089C0 , #0484C1 , #FFFFFF)
}
.img-part{
    height:95%;
    width : 50%;
    background-color: black;

}
.img-part img{
    height:100%;
    width:100%;
    object-fit : cover;

}
.image-part{
    height: 18vw;
    width: 100%;
    background-color:black;
    display:flex;
    justify-content: space-around ;
    align-items:center;
    padding-bottom: 14%;
}
.img1  , .img2 ,.img3 , .img4 {
    height: 15%;
    width: 15%;
    object-fit:cover;
 }
 .about-section2{
    height:40vw;
    width:100%;
    background-color: #FEFEFE;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;

 }
.S2-img{
    height:95%;
    width : 40%;
    background-color: black;
}
.S2-img img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.S2-text{
    height:95%;
    width : 40%;
    background-color:FEFEFE ;
    
}
.S2-text h1{
    font-size: 2.6rem;
    font-weight: 500;
    padding: 9% 0%;
}
.S2-text p{
    font-size: 1.1rem;
}
.S2-text button {
    padding: 0.27vw 3.4vw;
   border-radius: 15px;
   border: 2px solid black ;
   background:linear-gradient(#017E80 , #00FAC7 , #464B4F)

}
